<ion-tabs>

  <ion-tab-bar slot="bottom"  color="dark">
    <ion-tab-button tab="perfil" href="/tabs1/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos1" href="/tabs1/productos1">
      <ion-icon aria-hidden="true" name="bag"></ion-icon>
      <ion-label>TIENDA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home1" href="/tabs1/home1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs1/carrito">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>CARRITO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acercade" href="/tabs1/acercade">
      <ion-icon aria-hidden="true" name="heart-half"></ion-icon>
      <ion-label>ACERCA DE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
