<ion-tabs>

  <ion-tab-bar slot="bottom"  color="dark">
    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/tabs/productos">
      <ion-icon aria-hidden="true" name="bag-add"></ion-icon>
      <ion-label>AGREGAR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="negocio" href="/tabs/negocio">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>NEGOCIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acercade" href="/tabs/acercade">
      <ion-icon aria-hidden="true" name="heart-half"></ion-icon>
      <ion-label>ACERCA DE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
