ion-header {
  ion-toolbar {
    --background: rgb(10, 157, 255);
    --color: white;
  }
}

ion-content {
  #map {
    width: 100%;
    height: 100%; /* Modifica este valor según tu preferencia */
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map {
      opacity: 1;
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: rgb(10, 157, 255);
    --color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
